<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../layout/meta.ejs') %>
        <%- include('../../layout/title.ejs') %>
        <%- include('../../layout/css.ejs') %>
        <style>
            table tr td {
                max-width: 200px;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        </style>
    </head>

    <body>
        <!-- Begin page -->
        <div id="layout-wrapper">

            <%- include('../../layout/topbar.ejs') %>
            <%- include('../common/sidebar.ejs') %>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- <%- include('../common/topcard.ejs') %> -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between"><h4 class="mb-0">점검 조회</h4></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">카테고리</label>
                                                <select class="form-control form-select" id="search_inspec_type">
                                                    <option value="all" selected="selected">전체</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">수요업체</label>
                                                <select class="form-control form-select" id="search_cmpy_seq">
                                                    <option value="all" selected="selected">전체</option>
                                                </select>
                                            </div>
                                        </div> -->
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">설치장소</label>
                                                <select class="form-control form-select" id="search_loc_seq">
                                                    <option value="all" selected="selected">전체</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                            <label class="form-label">작업 기간</label>
                                                <div class="input-daterange input-group" id="search_inspec_date" data-date-format="yyyymmdd" data-date-autoclose="true" data-provide="datepicker" data-date-container="#search_inspec_date">
                                                    <input type="text" class="form-control" name="start" id="inspec_start_date" placeholder="Start Date" value="">
                                                    <input type="text" class="form-control" name="end" id="inspec_end_date" placeholder="End Date">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="d-flex flex-row-reverse align-items-center mt-4" style="width: 100%;">
                                                <button type="button" id="searchBtn" class="btn btn-lg btn-primary waves-effect waves-light me-1">
                                                    검색
                                                </button>
                                            </div> 
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4" id="hstry-table-title">점검이력</h4>
                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap table-hover mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th>번호</th> 
                                                <th>설치장소</th> 
                                                <th>작업일시</th>                                                     
                                                <th>카테고리</th>
                                                <th>상태</th> 
                                                <th>결과</th>
                                                <th>등록자</th>
                                                <th>등록일시</th>                                                
                                                <!-- <th>View Details</th> -->
                                            </tr>
                                        </thead>
                                        <tbody id="hstry-table">
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <!-- end table-responsive -->
                                <!-- 페이지네이션 -->
                                <div class="row mt-4">
                                    <div class="col-sm-6">
                                        <div>
                                            <p class="mb-sm-0" id="hstry-page-string"></p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="float-sm-end">
                                            <ul class="pagination pagination-rounded mb-sm-0" id="hstry-pagination">
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            <!-- 페이지네이션 -->
                            </div>
                        </div>
                        </div>
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
                <%- include('../../layout/footer.ejs') %>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <%- include('../../layout/scripts.ejs') %>
    </body>
    <script>
        var globalInspecType = "";
        var globalCmpySeq = "";
        var globalLocSeq = "";
        var globalStartDate = "00000000";
        var globalEndDate = "99999999";

        window.onload = function() {
            getInspecTypeList();
            //getCmpyList();
            getLocList();
            getAjaxHstryList(1);
        }

        $("select[id='search_cmpy_seq']").on("change", function(){
            globalCmpySeq = $("#search_cmpy_seq option:selected").val();
            getLocList();
        });

        $("#inspec_start_date").on("change", function(){
            globalStartDate = $("#inspec_start_date").val();
        });

        $("#inspec_end_date").on("change", function(){
            globalEndDate = $("#inspec_end_date").val();
        });

        $("#searchBtn").on("click", function(){
            globalInspecType = $("#search_inspec_type option:selected").val();
            globalCmpySeq = $("#search_cmpy_seq option:selected").val();
            globalLocSeq = $("#search_loc_seq option:selected").val();
            getAjaxHstryList(1);
        });

        function getCmpyList(){
            // ajax 통신
            let postData = {

            }

            let result = syncAjax("default","POST", "/smartpole/search/check/postOperCmpyList",postData);
            var cmpy_list = result.cmpy_list;
            var html = '';
            if(cmpy_list.length !=0 && cmpy_list != null){
                for (var i in cmpy_list) {
                html += "<option value=" + "'" + cmpy_list[i].cmpy_seq + "'>" + cmpy_list[i].cmpy_nm + "</option>";
                }
                globalCmpySeq = cmpy_list[0].cmpy_seq;
            }else{
                html += "<option value=''>수요업체 없음</option>";
            }
            getLocList();
            $("select[id='search_cmpy_seq']").html(html);
        }

        function getLocList(){
            // ajax 통신
            let postData = {
                //postData 없음
            }

            let result = syncAjax("default","POST", "/smartpole/search/check/postLocListByCmpy",postData);
            var loc_list = result.loc_list;
            var html = '';
            if(loc_list.length !=0 && loc_list != null){
                for (var i in loc_list) {
                html += "<option value=" + "'" + loc_list[i].loc_seq + "'>" + loc_list[i].loc_nm + "</option>";
                }
                globalLocSeq = loc_list[0].loc_seq;
            }else{
                html += "<option value=''>설치장소 없음</option>";
            }
            $("select[id='search_loc_seq']").html(html);
        }

        function getInspecTypeList(){
            // ajax 통신
            let postData = {

            }

            let result = syncAjax("default","POST", "/smartpole/search/check/postInspecTypeList",postData);
            var inspec_type_list = result.inspec_type_list;
            var html = '';
            if(inspec_type_list.length !=0 && inspec_type_list != null){
                for (var i in inspec_type_list) {
                html += "<option value=" + "'" + inspec_type_list[i].inspec_cd + "'>" + inspec_type_list[i].inspec_cd_desc + "</option>";
                }
                globalInspecType = inspec_type_list[0].inspec_cd;
            }else{
                html += "<option value=''>카테고리 없음</option>";
            }
            $("select[id='search_inspec_type']").html(html);
        }

        //점검이력 리스트 받기
        function getAjaxHstryList(page){

            if(!valCheck("is", globalInspecType) ||
                !valCheck("is", globalLocSeq) ) {
                    swalWithBootstrapButtons.fire(makeAlertObj("warning","검색조건이 올바르지 않습니다."));
                    return false;
            }

                let postData = {
                    inspec_type: globalInspecType,
                    cmpy_seq: globalCmpySeq,
                    loc_seq: globalLocSeq,
                    start_date : globalStartDate,
                    end_date : globalEndDate,
                    page: page
                }

                //post 통신
                let result = syncAjax("default","POST", "/smartpole/search/check/postInspecHstry", postData);

                var trList = "";
                var hstryList = result.hstryList;
                var pages = result.pages;
                var liRow = result.liRow;
                
                //데이터 테이블 형태로 넣기
                if(hstryList == null || hstryList.length == 0){
                    var tr = '<tr><td colspan="8" style="text-align: center;">점검이력이 없습니다.</td></tr>';
                    trList += tr;
                }else{
                    for(var i in hstryList){
                        var tr = '<tr> ';
                        tr += '<th scope="row">' + (parseInt(i) + 1) +'</th>';
                        tr += '<td>'+ hstryList[i].loc_nm +'</td>';
                        tr += '<td>'+ hstryList[i].inspec_dttm +'</td>';
                        tr += '<td>'+ hstryList[i].inspec_type +'</td>';
                        tr += '<td>'+ hstryList[i].inspec_stat+'</td>';
                        tr += '<td>'+ hstryList[i].inspec_rslt+'</td>';
                        tr += '<td>'+ hstryList[i].ins_nm+'</td>';
                        tr += '<td>'+ hstryList[i].ins_dttm+'</td>';
                        tr += '</tr>';
                        trList += tr;
                    }
                }

                $("#hstry-table").html(trList);

                //bms 테이블 페이징
                if(pages.currentPage == null || pages.pageCount == null){
                    $("#hstry-page-string").html();
                }else{
                    $("#hstry-page-string").html("Page " + pages.currentPage + " of " + pages.pageCount);
                }

                var pageHtml = '<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="getAjaxHstryList('+ pages.previousPage +')"><i class="mdi mdi-chevron-left"></i></a></li>';

                for(index in liRow){
                    if(liRow[index] == pages.currentPage){
                        pageHtml += '<li class="page-item active"><a class="page-link">'+ liRow[index] +'</a></li>';
                    } else {
                        pageHtml += '<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="getAjaxHstryList('+ liRow[index] +')">'+ liRow[index] +'</a></li>';
                    }
                }

                pageHtml += '<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="getAjaxHstryList('+ pages.nextPage +')"><i class="mdi mdi-chevron-right"></i></a></li>';

                $("#hstry-pagination").html(pageHtml);
                
            }
    </script>
</html>